# ignore all json files
*.json

# ignore the sqlite database
*.db

# ignore pycache
__pycache__/

# ignore python virtual environment
.venv/

# mac files
.DS_Store

# ignore dev python files
test.py

# bot logs
bot.log*
