{
  "discord_token": "",
  "client_id": 0,
  "guild_id": 0,
  "prefix": ".",
  "description": "A bot that can do many things.",
  "owner_id": 0,
  "log_level": 10 // 10 - debug, 20 - info, 30 - warning, 40 - error, 50 - critical
}
